<div class="container">
    <div class="row">
        {% for article in paginator %}
            <div class="col-lg-4 col-md-12 mb-lg-0 mb-4">
                <div class="view overlay rounded z-depth-2 mb-4">
                    <img class="img-fluid" style="width: 110%;" src="{{ article.imageName }}" alt="Sample image">
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
                <!-- Category -->
                <a href="#!" class="pink-text">
                    <h6 class="font-weight-bold mb-3"><i class="fas fa-map pr-2"></i>Adventure</h6>
                </a>
                <!-- Post title -->
                <h4 class="font-weight-bold mb-3"><strong><a
                                href="{{ path('show', {slug: article.slug}) }}">{{ article.title }}</a></strong></h4>
                <!-- Post data -->
                <p>by <a class="font-weight-bold">{{ article.user }}</a>, {{ article.createdAt | date('d/m/y') }}</p>
                <!-- Excerpt -->
                <p class="dark-grey-text">{{ ((article.content|length > 50 )? article.content|slice(0, 130) ~ '...' : article.content)|raw }}
                    .</p>
                <!-- Read more button -->
                <a href="{{ path('show', {slug: article.slug}) }}" class="btn btn-pink btn-round btn-md">Read more</a>
            </div>
        {% endfor %}
    </div>
    <div class="margin-bottom-30">
        {{ knp_pagination_render(paginator) }}
    </div>
</div>
