<!DOCTYPE html>
<head>
    {% block meta %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta property="og:title" content=""/>
        <meta property="og:image" content=""/>
        <meta property="og:url" content=""/>
        <meta property="og:site_name" content=""/>
        <meta property="og:description" content=""/>
        <meta name="twitter:title" content="" />
        <meta name="twitter:image" content="" />
        <meta name="twitter:url" content="" />
        <meta name="twitter:card" content="" />
    {% endblock %}
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block fonts %}
        {#<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css"#}
              {#type="text/css">#}
        {#<link href="https://fonts.googleapis.com/css?family=Crimson+Text|Playfair+Display:400,700i" rel="stylesheet">#}
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
    {% endblock %}

    {% block stylesheets %}
        <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('css/mdb.min.css') }}" rel="stylesheet">
        <link href="{{ asset('css/mdb.lite.css') }}" rel="stylesheet">
        <link href="{{ asset('css/style.css') }}" rel="stylesheet">
    {% endblock %}

</head>
<body>
{% block body %}
        {% include 'nav.html.twig' %}
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('jquery/bootstrap.min.js') }}"></script>
    <script src="{{ asset('jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('jquery/jquery.waypoints.min.js') }}"></script>
    <script src="{{ asset('jquery/main.js') }}"></script>
{% endblock %}
</body>
</html>